@use '@angular/material' as mat;

@include mat.core();

html, body {
  height: 100%;
  margin: 0;
}
html {
  @include mat.theme((
    color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$azure-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

.mat-drawer {
  --mat-sidenav-container-shape: 0px;
  --mat-sidenav-container-background-color:var(--md-sys-color-surface-container-high);
}

.mat-drawer-side {
  --mat-sidenav-container-divider-color: var(--mat-sys-surface-container-high);
  border-right-color: var(--mat-sidenav-container-divider-color, transparent);
}

.mat-sidenav-container {
  --mat-sidenav-content-background-color: var(--mat-sys-surface-container);
}

.mat-sidenav {
  width: 200px;
}

.mat-drawer-content.mat-sidenav-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  .content {
    padding: 16px;
    overflow: auto;
  }

  .footer {
    padding: 16px;
    text-align: center;
    font-size: 0.9rem;
  }
}


