@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  height: 100vh;
}

mat-sidenav {
  width: 200px;
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content {
  padding: 16px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.app-footer {
  text-align: center;
  padding: 8px;
  margin-top: auto;
}

// Include core styles for Angular Material
@include mat.core();

// Define the application's theme using the Material 20 API
html {
  @include mat.theme((
    color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$azure-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}


